name: Artifact Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Download last SHA artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: android.yml
          name: last-sha
          path: .
        continue-on-error: true

      - name: Get Commits Since Last Run
        run: |
          if [ -f last_sha.txt ]; then
            LAST_SHA=$(cat last_sha.txt)
          else
            # Fallback to first commit if no previous SHA available
            LAST_SHA=$(git rev-list --max-parents=0 HEAD)
          fi
          echo "Commits since $LAST_SHA:"
          # Accumulate commit logs in a shell variable
          COMMIT_LOGS=$(git log $LAST_SHA..HEAD --pretty=format:"â— %s ~%an")
          # URL-encode the newline characters for GitHub Actions
          COMMIT_LOGS="${COMMIT_LOGS//'%'/'%25'}"
          COMMIT_LOGS="${COMMIT_LOGS//$'\n'/'%0A'}"
          COMMIT_LOGS="${COMMIT_LOGS//$'\r'/'%0D'}"
          # Append the encoded commit logs to the COMMIT_LOG environment variable
          echo "COMMIT_LOG=${COMMIT_LOGS}" >> $GITHUB_ENV
          # Debugging: Print the variable to check its content
          echo "$COMMIT_LOGS"
          echo "$COMMIT_LOGS" > commit_log.txt
        shell: /usr/bin/bash -e {0}
        env:
          CI: true
        continue-on-error: true

      - name: Save Current SHA for Next Run
        run: echo ${{ github.sha }} > last_sha.txt

      - name: Build Beta APK
        run: ./gradlew assembleBetaModernRelease

      - name: Build Production APK
        run: ./gradlew assembleProdModernRelease

      - name: Build Legacy Beta APK
        run: ./gradlew assembleBetaLegacyRelease

      - name: Build Legacy Production APK
        run: ./gradlew assembleProdLegacyRelease

      - name: Send Beta APK to Telegram
        if: always()
        run: |
          curl -F document=@app/build/outputs/apk/betaModern/release/app-beta-modern-release.apk \
               -F chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
               -F caption="<@&1246876742568644720> Artifact Build\n$(cat commit_log.txt)" \
               https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendDocument

      - name: Send Legacy Beta APK to Telegram
        if: always()
        run: |
          curl -F document=@app/build/outputs/apk/betaLegacy/release/app-beta-legacy-release.apk \
               -F chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
               https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendDocument

      - name: Debug Commit Log
        run: |
          ls -l commit_log.txt && cat commit_log.txt || echo "Commit log file not found"

      - name: Send Beta APK to Discord
        if: always()
        run: |
          commit_id=$(echo "${{ github.sha }}" | cut -c1-7)
          author_link="[$(git log -1 --pretty=format:'%an')](https://github.com/$(git log -1 --pretty=format:'%ae'))"
          payload=$(jq -nc --arg content "<@&1246876742568644720> 
          **Commit:** [${commit_id}](https://github.com/${{ github.repository }}/commit/${{ github.sha }}) by ${author_link} 
          **Message:** $(cat commit_log.txt)" '{content: $content}')
          curl -F "payload_json=$payload" \
           -F "file1=@app/build/outputs/apk/betaModern/release/app-beta-modern-release.apk" \
           ${{ secrets.DISCORD_WEBHOOK_URL }}



      - name: Send Legacy Beta APK to Discord
        if: always()
        run: |
          curl -F "file1=@app/build/outputs/apk/betaLegacy/release/app-beta-legacy-release.apk" \
               ${{ secrets.DISCORD_WEBHOOK_URL }}

      - name: Upload Current SHA Artifact
        uses: actions/upload-artifact@v3
        with:
          name: last-sha
          path: last_sha.txt
